<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nice! da var det lastet opp</title>
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body>
        <div class="uploaded-wrapper">
            <h1>🎄 Nice! da var det lastet opp 🎄</h1>
            <p><a href="/upload">Send julekortet til flere</a> (gjør det!)</p>
            <br />
            <p>Sjekk ut kortet ditt slik det vil bli mottatt <a href="/card/{{ card_id }}">her</a></p>
            <p>Tilbake til <a href="/">forsiden</a></p>
            <p><a href="/corkboard">Sjekk ut korktavlen</a> for alle julekortene som er sendt</p>
        </div>
    </body>
</html>
