* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: "Belleza", sans-serif;
}

.skip-container {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 10;

    button {
        font-family: "Reenie Beanie";
        padding: 0.35em .85em;
        font-size: 2em;
        cursor: pointer;
        border: none;
        border-radius: 9999px;
        background-color: transparent;
        color: white;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}

#story-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: black;
    display: grid;
    place-items: center;
    
    #story-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        #story-teller {
            font-size: 8em;
            color: white;
            font-family: "Reenie Beanie", cursive, 'Courier New', Courier, monospace;
        }

        .options {
            button {
                opacity: 0;
                margin: .5em .25em;
                padding: .5em 1.25em;
                font-size: 1.4em;
                cursor: pointer;
                border: none;
                border-radius: 9999px;
                background-color: black;
                border: 1px solid white;
                color: white;
                transition: background-color 0.3s ease;
                
                &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }
        }

    }
}
